$color-gray: #dee2e6;
$color-gray-darker: #c8cbcf;
$color-gray-darker-2: #b2b5b8;

$color-black: #000;
$color-white: #fff;

$color-red: #fa5252;
$color-red-dark: #7d2929;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-big: 4rem;
$padding-extra-big: 8rem;
